<nav class="fixed-nav">
  <p-menubar [model]="items" [styleClass]="'custom-menubar'">
    <ng-template pTemplate="start">
      <img src="assets/images/naturally-dance-logo.jpg" alt="Naturally Dance Logo" class="logo-image">
    </ng-template>
    <ng-template pTemplate="end">
      <app-language-switcher></app-language-switcher>
    </ng-template>

    <!-- Use translation keys directly with transloco pipe -->
    <ng-template let-item pTemplate="item">
      <div class="menu-item">
        <i [class]="item.icon" *ngIf="item.icon"></i>
        <span class="ml-2">{{ item.translationKey | transloco }}</span>
      </div>
    </ng-template>
  </p-menubar>
</nav>