<div class="language-switcher">
  <p-dropdown [options]="languages" [(ngModel)]="selectedLanguage" (onChange)="switchLanguage()" optionLabel="label"
    [showClear]="false" placeholder="Select Language" [style]="{'minWidth': '150px'}">
    <ng-template pTemplate="selectedItem">
      <div class="flex align-items-center gap-2" *ngIf="selectedLanguage">
        <span [class]="'fi fi-' + selectedLanguage.countryCode"></span>
        <span>{{ selectedLanguage.label }}</span>
      </div>
    </ng-template>
    <ng-template let-language pTemplate="item">
      <div class="flex align-items-center gap-2">
        <span [class]="'fi fi-' + language.countryCode"></span>
        <span>{{ language.label }}</span>
      </div>
    </ng-template>
  </p-dropdown>
</div>